name: Cypress Tests

on:
  push:
    branches: 
     - 'ci-cd-branch'

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        working-directory: ./e2e-ui-tests
        uses: cypress-io/github-action@v2
        with:
          build: npm install
          start: npx cypress run --browser chrome